
@import 'id2var';
@import 'id2mixin';




.container{
    margin: 0 auto;
    width: $bodyWidth;
    
}

h1{
    @include nekimix;
}
#footer, .title{
    @include box;
    background-color: $new-color;
}
