.p1{
    width: 100% - 20;
    border: 5px solid red; 
    border-radius: 10px;
    background-color: yellow;
}
.p2{
    @extend .p1;
    width: 600px + 100px;
    border-color: blue;
}
.p3{
    @extend .p1;
    width: 30% * 3;
    border-color: green;
}